<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body bgcolor="#F9F1E7">
    <header>
        <center>
            <h1 style="color: rgb(7, 80, 140);">
                About Us
            </h1>
        </center>
    </header>
    <main>
       <strong>We believe in pure and organic quality</strong> 
        <table>
            <tr>
                <td>
                <img src="/images/1528 1 1.jpg" width="300px" height="150px"></td>
                <td>
                    <img src="/images/bright-modern-bedroom-with-elegance-generated-by-ai.jpg" width="300px" height="150px">
                </td>
                
                <td><strong style="color: rgb(7, 80, 140);" >Products Return Policy </strong>
               <br> Sure there isn't anything embarrassing hidden in the middle text.</td>
            </tr>
          <br>
          <br>
            <tr>
                <td>
                    <img src="/images/26862.jpg" height="150px" width="300px">
                </td>
                &nbsp; &nbsp;
                <td>
                    <img src="/images/29068.jpg"height="150px" width="300px">
                </td>
                
                <td><strong style="color: rgb(7, 80, 140);" >100% Qualityful Furniture </strong>
                    <br> Sure there isn't anything embarrassing hidden in the middle text.</td>
            </tr>
        </table>
    </main>
  
    <footer><center>&copy;Omnya tarek.💻</center></footer>
</body>
</html>