<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chairs</title>
</head>
<body bgcolor="#F9F1E7">
    <header>
        <center><h1 style="color: rgb(7, 80, 140);">
            chairs & plants
        </h1></center>  
    </header>
    <table>
        <tr>
            <td> <img src="/images/Layer 2 2.png" width="200px"></td>
            <td> <img src="/images/pillow-sofa.jpg" width="200px" ></td>
            <td> <img src="/images/Lay2.png" width="200px"></td>
            <td>
                <img src="/images/Laye2r 21.jpg" width="200px"  >
            </td>

        </tr>
        <tr>
            <td style="list-style-type:none;">
             50$<button>Buy Now</button>
            </td>
            <td style="list-style-type:none;">
            60$
            <button>Buy Now</button>

            </td>
            <td style="list-style-type:none;">
             50$
           <button>Buy Now</button>
    
            </td>
            <td style="list-style-type:none;">
                10$
              <button>Buy Now</button>
         
     </tr>
     <tr>
        <td>
            <img src="/images/Layer 122.jpg" width="200px">

        </td>
     </tr>
     <tr>
     <td>   11$<button>Buy Now</button></td>
     </tr>
    </table>
  <br>
  <br>

&nbsp;<footer >
  
  
   <center>&copy;Omnya tarek.💻</center></footer>
</body>

    
</html>