<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body bgcolor="#F9F1E7">
    <form>
        <center>
            <div>
                <h1 style="color: rgb(7, 80, 140);">Contact Us</h1>
        </center>

        <img src="/images/send-email-concept.png" width="450px" height="350px" align="right">

        <br>
        <br>

        <label style="color: rgb(7, 80, 140);"> first name</label>
        <br>
        <input type="text" required>


        <br>
        <br>
        <label style="color: rgb(7, 80, 140);"> last name</label>
        <br>

        <input type="text" required>
        <br>

        <br>

        <label style="color: rgb(7, 80, 140);"> email
            <br><input type="email" required> </label>
        <br>
        <br>
        </figure>

        <!--<hr width="350px">-->
        <div>
            <label style="color: rgb(7, 80, 140);">comments</label>
            <br>
            <textarea cols="30" rows="5">

            </textarea>
        </div>


        <button type="submit">submit</button> &nbsp; &nbsp; <a href="#"> or press enter</a>

        </div>

    </form>
    <br>
    
    <footer style="background-color: #f7ede0; width: 100%; height: 60px">

        <i class='bx bx-phone'></i> 01273308408
        <i class='bx bx-envelope'></i> omnyatarek137@gmail.com
        <center>
         <p> &copy;Omnya tarek.💻</p>  </center>
    </footer>
</body>

</html>