<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body bgcolor="#F9F1E7">
    <table>
        <tr>
            <td>
                <br>
                <img src="/images/Rectangle 1446.png" width="500px" height="400px">

            </td>
            <td>
            <center><h1 style="color: rgb(7, 80, 140);"> we provide you the best experience</h1> </center>  
            &nbsp;&nbsp;&nbsp;  You don’t have to worry about the result because all
                <br>
                 of these interiors are made by people who are professionals in their fields with an elegant and lucurious style and with premium quality materials.
              <br>
              <br>
              <center><a style="color: rgb(7, 80, 140);" href="#">More Info➡</a></center>   
            </td>
        </tr>
    </table>
    
   
       <br>
<br>
    <footer >
<center>&copy;Omnya tarek.💻</center></footer>

  
</body>
</html>