<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#2F4156">
    <h3 style="color:rgb(211, 150, 75)">
        Categories
    </h3>
    <hr>

    <a style="color: bisque" href="/templates/products.html" target="right">Rooms</a>

    
    <hr>
    <a style="color:bisque" href="/templates/chairs.html" target="right">chairs & plants</a>
    <hr>
  
    <a style="color:bisque" href="/templates/view.html" target="right">view</a>
    <hr>
    <a href=""></a>
</body>
</html>