<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>

<body bgcolor="#F9F1E7">
    <center>
        <h2 style="color: rgb(7, 80, 140);">
            Rooms
        </h2>
    </center>
    <table>
        <tr>
            <td> <img src="/images/bright-modern-bedroom-with-elegance-generated-by-ai.jpg" width="300px"></td>
            <td> <img src="/images/8263242_1965.jpg" width="300px" height="170px"></td>
            <td> <img src="/images/room-interior-hotel-bedroom.jpg" width="300px" height="170px"></td>

        </tr>
        <tr>
            <td style="list-style-type:none;">
                200$ &nbsp;&nbsp;&nbsp;&nbsp;<button>Buy Now</button>
            </td>
            <td style="list-style-type:none;">
                200$ &nbsp;&nbsp;&nbsp;&nbsp; <button>Buy Now</button>

            </td>
            <td style="list-style-type:none;">
                360$ &nbsp;&nbsp;&nbsp;&nbsp;<button>Buy Now</button>

            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/room-interior-design.jpg" width="300px" height="170px">
            </td>
            <td>
                <img src="/images/bedroom-background-zoom-calls.jpg" width="300px" height="170px">

            </td>

            <td> <img src="/images/double-bed-with-pillows.jpg" width="300px" height="170px"></td>

        </tr>
        <tr>
            <td style="list-style-type:none;">
                460$ &nbsp;&nbsp;&nbsp;&nbsp; <button>Buy Now</button>

            </td>
            <td style="list-style-type:none;">
                250$ &nbsp;&nbsp;&nbsp;&nbsp;<button>Buy Now</button>

            </td>
            <td style="list-style-type:none;">
                250$ &nbsp;&nbsp;&nbsp;&nbsp;<button>Buy Now</button>

            </td>
        </tr>
    </table>
    
    <footer >
        <center>&copy;Omnya tarek.💻</center></footer>
        
</body>

</html>