<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
</head>

<body bgcolor="#F9F1E7">
    <header>
        <center>
            <h1 style="color: rgb(7, 80, 140);">Service</h1>
        </center>
    </header>
    <main>
        <h2 > Good design has perfect results
        </h2>
       <center> <h3 style="color: rgb(7, 80, 140);"> &nbsp;&nbsp;&nbsp; Create your interior design</h3>

        <h4 style="color: rgb(7, 80, 140);">
            customization with our greatest
            designers to become
            extraordinary masterpieces. </h4></center>
        <center>
            <img src="/images/933005a18a0d34d9c16549f37d714724.jpg" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <img src="/images/Isometric Minimalist Bedroom.jfif" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/images/download.jfif" width="200px" height="200px">&nbsp;&nbsp;&nbsp;
            <img src="/images/3D Kitchen Designer_ Design Your Dream Kitchen in Minutes.jfif" width="200px"height="200px">&nbsp;&nbsp;&nbsp;
            
            <img src="https://i.pinimg.com/736x/a3/13/72/a31372069482a04efe6c1c3421ff3065.jpg" width="200px"height="200px">
          
         <img src="https://i.pinimg.com/736x/24/45/d8/2445d829bd15912cd1346f6cf0b7e888.jpg" width="200px"height="200px">

        </center>
        <br>


        
    </main>

    <footer>
        <center>&copy;Omnya tarek.💻</center>
    </footer>

</body>

</html>