<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>
<body bgcolor="#F9F1E7">
    <nav>
    <img src="/images/Logo.png" width="100px">

  
   
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="color: rgb(7, 80, 140);" href="/templates/home.html" target="right">Home </a> |&nbsp;&nbsp;
        <a style="color: rgb(7, 80, 140);" href="/templates/about.html" target="right">About</a> |&nbsp;&nbsp;
        <a style="color: rgb(7, 80, 140);" href="/templates/services.html" target="right"> Services</a> |&nbsp;&nbsp;
        
        <a style="color: rgb(7, 80, 140);" href="/templates/contact.html" target="right">Contact Us</a>
   
    
</nav>
</body>
</html>