<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>veiws</title>
</head>
<body bgcolor="#F9F1E7">
    <header>
    <center><h1 style="color: rgb(7, 80, 140);">
        Our views
    </h1></center>    
</header>
<div>
    <video  width="320"  controls poster="/images/Frame 22 1.jpg" height="200">
        <source src="/images/1103325035-preview.mp4" type="video/mp4">

</video> 
<video  width="320"  controls poster="/images/Frame 22 1.jpg" height="200">
    <source src="/images/3431829509-preview.mp4" type="video/mp4">

</video>
<video  width="320"  controls poster="/images/Frame 22 1.jpg" height="200">
    <source src="/images/3478173087-preview.mp4" type="video/mp4">

</video>
</div>
<hr>
<h3>Our views in youtube</h3>
<div>
    <iframe width="320"  src="https://www.youtube.com/embed/4yxr322owNc" >
    </iframe>
    <iframe width="320"  src="https://www.youtube.com/embed/S-A0qLTxf-U" >
    </iframe>
    <iframe width="320"  src="https://www.youtube.com/embed/dPMTD7ifzcQ" >
    </iframe>
</div>
<br>

<footer >
    <center>&copy;Omnya tarek.💻</center></footer>
  </body>
    
</body>