<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abo treka</title>
    <link rel="icon" href="/assignment_1/images/1166961_741.jpg">
</head>

<body style="background-color: floralwhite">
    <header>
        <a href="#godown"> <img id="goup" src="/assignment_1/images/41915993_8972136.png" width="50px"></a>
        <div style="display: flex; justify-content: center; ">
            <img style="box-shadow:rgb(223, 186, 182) 5px 5px 30px 10px; border:2px solid rgb(225, 23, 23); border-radius: 100px; width: 200px;"
                src="/assignment_1/images/0618f23f-0693-4c0a-b6b3-1e0ed9720228.jfif">
        </div>
        <h1 style="text-align: center;"> Mohamed abo treka</h1>

        <br>
        <hr style="background-color:rgb(225, 23, 23); width: 60%; height: 2px;">
    </header>
    <main style="padding-left:250px ;">
        <h2 style="color: brown;"> Upbringing: </h2>
        <p>He was born on November 7, 1978 in the village of Nahia, one of the villages of Giza Governorate.<br> He
            grew up in a modest family in his village, and graduated from the Faculty of Arts, Department of
            History,<br>
            Cairo University, and joined Tersana Club at the age of 12. <br>He played for the UAE's Bani Yas Club on
            loan during the 2012-2013 season.
        </p>
        <h2 style="color: brown;"> Football career:</h2>
        <p>Abu Trika has achieved many accomplishments since joining Al-Ahly Club, as he won the league championship
            seven times,<br> the Egyptian Cup three times, the Egyptian Super Cup four times, the African Champions
            League four times,<br> the African Super Cup twice, and reached the Club World Cup four times, <br>in addition
            to winning the African Cup of Nations with the Egyptian national team in 2006 and 2008, in which he played
            an important role during the Egyptian national team's journey during the tournament, <br>in which Abu Trika
            was the most prominent player.
        </p>
    </main>
    <footer>
        <a href="#goup"><img id="godown" src="/assignment_1/images/41915992_8972156.png" width="50px"></a>
        <div style="display: flex; justify-content: center; color: rgb(120, 9, 153);"> &copy; omnya tarek.💻</div>
    </footer>
</body>

</html>